.field-input{
    display: grid;
    grid-template-columns: 30% 60%;
}



h3, h4 {
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
  }

main {
    flex: 1 0 auto;
  }

  