#search-nav {
    background-color: rgb(0, 0, 0);
}



.img_recipe {
    height:250px;
    width:100%;
    object-fit: cover;
    border: solid;
    border-color: black;
    border-radius: 25px;
    border-width: 10px;

}

body {
    background-image: url('https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1602&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Cutive', serif;
}

.recipes-title {
    color: rgb(255, 255, 255);
    font-size: 25px;

}

.recipe-back, .add-background {
    background-color: wheat;
    border-radius: 25px;
    border: solid;
    position: relative;
    margin-bottom: 10rem;
}

.reset {
    color: white;
    font-size: 25px;
}

.center-align {
    background-color: wheat;
    border: solid;
    border-radius: 25px;
}

.position_image {
    margin-top: 5rem;
}





