.field-input{
    display: grid;
    grid-template-columns: 30% 60%;
}



h3, h4 {
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
  }

main {
    flex: 1 0 auto;
  }

  * {
    box-sizing: border-box;
  }
  
  #search-nav {
    background-color: #fff;
}

.recipes-display {
    text-align: justify;
    margin-bottom: 20px;
}

.img_recipe {
    display: block;
    margin: 0;
  }

.recipes-title {
    color: #000;
    font-size: 17px;
}

img {
  float: left;
  width:  200px;
  height: 200px;
  object-fit: cover;
  border: solid;
  border-color: black;
}

  