{% extends "base.html" %}
{% block content %}

<h1>Add Bread Recipe</h1>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Title</label>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Description</label>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Ingridients</label>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Steps</label>
      </div>
    </div>
  </form>
</div>

<form action="#">
  <div class="file-field input-field">
    <div class="btn">
      <span>Image</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
</form>

<a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
{% endblock %}