{% extends "base.html" %}
{% block content %}
<!--<body>
    <div class="container">
      <h2>Create a Recipe</h2>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Title</label>
            </div>
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1">Brief description of the recipe</label>
                    </div>
                  </div>
                </form>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
              </div>
    </div>
</body>-->
<h3>Create a Recipe</h3>
<div class="row">
    <div class="input-field col s6">
      <input value="" id="first_name2" type="text" class="validate">
      <label class="active" for="first_name2">Title</label>
    </div>
  </div>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Brief description of the recipe</label>
            </div>
          </div>
        </form>
    </div>
    <div class="input-field col s6 field-input">
        <i class="material-icons prefix">av_timer</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">How long to make</label>
    </div>
    <div class="input-field col s6 field-input">
        <i class="material-icons prefix">group</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">How many servings</label>
    </div>

{% endblock %}