{% extends "base.html" %}
{% block content %}

<h1>Edit Recipe</h1>

<div class="row">
  
  <form class="col s12" method="POST" action="{{ url_for('edit_recipe', resipe_id=resipe._id) }}">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" name="title" class="materialize-textarea" required></textarea>
        <input id="recipe_name" name="recipe_name" value="{{recipes.title}}" type="text" pattern="^[^\s][A-Za-z0-9\s]{1,20}$" class="validate" required>
        <label for="textarea1">Title</label>
      </div>
    </div>
</div>

<div class="row">
  
    <div class="row">
      <div class="input-field col s12">
        <input id="description" name="description" value="{{recipes.description}}" type="text" pattern="^[1-9][0-9]*$" class="validate" required>
        <textarea id="textarea1" name="description" class="materialize-textarea" required></textarea>
        <label for="textarea1">Description</label>
      </div>
    </div>
  
</div>

<div class="row">
  
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" name="ingredients" class="materialize-textarea" required>
          {{- recipes.ingredients -}}
        </textarea>
        <label for="textarea1">Ingridients</label>
      </div>
    </div>
  
</div>

<div class="row">
  
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" name="steps" class="materialize-textarea" required>
          {{- recipes.steps -}}
        </textarea>
        <label for="textarea1">Steps</label>
      </div>
    </div>
  
</div>


  <div class="file-field input-field">
    <div class="btn">
      <span  data-error="enter valid URL">Image_url</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input id="image" name="image" value="{{recipes.image}}" type="url" pattern="https?://.+" class="validate" required>
    </div>
  </div>


<div class="row">
  <div class="col s12 center-align">
    <a class="waves-effect waves-light btn black"><i class="material-icons left">cloud</i>Edit</a>
      <button type="submit" class="btn-large black darken-1 text-shadow">
          Submit Changes <i class="fas fa-plus-square right"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}