{% extends "base.html" %}
{% block content %}

<div class="row">
  <h3 class="center-align">Edit recipe</h3>
  <hr class="blackline">
</div>

<!-- Add recipes -->
<div class="row add-background">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
      <!-- Recipe name -->
      <div class="row">
          <div class="input-field col s12">
              <input id="title" name="title" value="{{recipe.title}}" type="text" pattern="^[^\s][A-Za-z0-9\s]{1,20}$" class="validate" required>
              <label for="title">title</label>
          </div>
      </div>

      <!-- Description -->
      <div class="row">
        <div class="input-field col s12">
            <textarea id="description" name="description" class="materialize-textarea validate" required>
                {{- recipe.description -}}
            </textarea>
            <label for="description">description</label>
            <span class="helper-text" data-error="wrong" data-success="right">Here you can update description option</span>
        </div>
    </div>

     <!-- Ingredients  -->
     <div class="row">
      <div class="input-field col s12">
          <textarea id="ingredients" name="ingredients" class="materialize-textarea validate" required>
              {{- recipe.ingredients -}}
          </textarea>
          <label for="ingredients">ingredients</label>
          <span class="helper-text" data-error="wrong" data-success="right">Here you can update the ingredients option</span>
      </div>
  </div>
   <!-- Time it takes  -->
   <div class="row">
    <div class="input-field col s12">
        <textarea id="time_takes" name="time_takes" class="materialize-textarea validate" required>
            {{- recipe.time_takes -}}
        </textarea>
        <label for="ingredients">time it takes </label>
        <span class="helper-text" data-error="wrong" data-success="right">Here you can update the time it takes option</span>
    </div>
</div>
<!--steps-->
  <div class="row">
    <div class="input-field col s12">
        <textarea id="steps" name="steps" class="materialize-textarea validate" required>
            {{- recipe.steps -}}
        </textarea>
        <label for="steps">steps</label>
        <span class="helper-text" data-error="wrong" data-success="right">Here you can update the steps option</span>
    </div>
</div>

<!-- Upload img URL -->
<div class="row">
  <div class="input-field col s12">
      <input id="img_url" name="img_url" value="{{recipe.image}}" type="url" pattern="https?://.+" class="validate" required>
      <label for="img_url">Image url</label>
      <span class="helper-text" data-error="enter valid URL" data-success="right"></span>
  </div>
</div>

<!-- Submit button -->
<div class="row">
  <div class="col s12 center-align black">
      <button type="submit" class="btn-large black darken-1 text-shadow">
          Update Recipe <i class="fas fa-plus-square right"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}