{% extends "base.html" %}
{% block content %}
<!-- Slider -->
      
      <div class="slider fullscreen">
        <ul class="slides">
          <li>
            <img src="https://images.unsplash.com/photo-1511629036492-6c07153d3e83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"> 
            <div class="caption center-align2">
              <h3>The Old Way is the only way</h3>
              <h5 class="light grey-text text-lighten-3">Easy way to make tasty bread</h5>
            </div>
          </li>
          <li>
            <img src="https://images.unsplash.com/photo-1536534028025-68598ea8af44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1044&q=80"> 
            <div class="caption left-align2">
              <h3>The Old Way is a better way </h3>
              <h5 class="light grey-text text-lighten-3">Use premetive kitchen equipment to make delecious bread</h5>
            </div>
          </li>
          <li>
            <img src="https://images.unsplash.com/photo-1566698629409-787a68fc5724?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"> 
            <div class="caption right-align2">
              <h3>The Old Way is smarter way</h3>
              <h5 class="light grey-text text-lighten-3">Spend less time prepping</h5>
            </div>
          </li>
          <li>
            <img src="https://images.unsplash.com/photo-1515823808611-65fd8e56c71a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"> 
            <div class="caption center-align2">
              <h3>The Old Way is the fun way</h3>
              <h5 class="light grey-text text-lighten-3">Injoy your time cooking</h5>
            </div>
          </li>
        </ul>
      </div>
  
  
{% endblock %}