{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align black-text text-darken 4">
                    Bread maker-{{ username }}
                </h3>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col s5 m4 offset-m2">
            <h5>My recipes</h5>
        </div>
        <div class="col s7 m4 right">
            <h5><a href="{{ url_for('create') }}" class="black-cta">Add new bread recipe </a></h5>
        </div>
        
    </div>

{% endblock %}