{% extends "base.html" %}
{% block content %}

    
    <div class="row">
        <h3 class="center-align">Recipes</h3>
    </div>
    <nav>
        <div class="nav-wrapper black">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      

    
{% endblock %}