{% extends "base.html" %}
{% block content %}

<!-- Title  -->
<div class="row">
  <h3 class="center-align">Recipes</h3>
  <hr class="blackline">
</div>
<div class="container " id="photo-container">
  <!-- Search engine -->
  <div class="row">
      <div class="col s12">
          <nav id="search-nav">
              <div class="nav-wrapper">
                  <form action="{{ url_for('search') }}" method="post">
                      <div class="input-field">
                          <input id="query" name="query" type="search" required>
                          <label class="label-icon" for="query">search</label>
                      </div>
                  </form>
              </div>
          </nav>
          <div>
              <a href="{{ url_for('recipes', category='all')}}" class="reset right">Clear</a>
          </div>
      </div>
  </div>




<!-- recipes -->
  {% if recipes|length > 0 %}
            <div class="row show-on-small hide-on-med-and-up">
                {% for recipe in recipes %}
                    <div class="col s6 recipes-display">
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                            <img class="img_recipe " src="{{ recipe.image}}" alt="recipe">
                            <span class="card-title recipes-title">{{ recipe.title }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col s12 center-align">
                    <h4>hmm... perhaps try something else, no result...</h4>
                </div>       
            </div>  
        {% endif %} 

        {% if recipes|length > 0 %}
        <div class="row hide-on-small-only">
            {% for recipe in recipes %}
                <div class="col s4 recipes-display">
                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                        <img class="img_recipe" src="{{ recipe.image}}" alt="recipe">
                        <span class="card-title recipes-title">{{ recipe.title }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col s12 center-align">
                <h4>hmm... perhaps try something else, no result...</h4>
            </div>       
        </div>  
    {% endif %} 
</div>

{% endblock %}

